<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="ISO-8859-1">
    <title>Add Products</title>
</head>

<body>
    <section>
        <div class="container p-5 mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card card-sh">
                        <div class="class-header text-center fs-4 mt-4">
                            <p class="fs-4">Edit product</p>
                            <th:block th:if="${session.successMsg}">
                                <p class="text-success fw-bold">[[${session.successMsg}]]</p>
                                <th:block th:text="${@helperServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>

                            <th:block th:if="${session.errorMsg}">
                                <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                                <th:block th:text="${@helperServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                        </div>
                        <div class="card-body">
                            <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="productId" th:value="${product.productId}">
                                <div class="mb-3">
                                    <label>Enter Title</label>
                                    <input type="text" name="title" th:value="${product.title}" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label>Description</label>
                                    <textarea rows="3" cols="" name="description"
                                        class="form-control">[[${product.description}]]</textarea>
                                </div>

                                <div class="mb-3">
                                    <label>Category</label>
                                    <select class="form-control" name="category">
                                        <option>[[${product.category}]]</option>
                                        <option th:each="c:${categories}">[[${c.categoryName}]]</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label>Enter Price</label>
                                    <input type="number" name="price" th:value="${product.price}" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label>Status</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="isActive" id="active"
                                            th:checked="${product.isActive==true}" value="true">
                                        <label class="form-check-label" for="exampleRadios1">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="isActive" id="inActive"
                                            th:checked="${product.isActive==false}" value="false">
                                        <label class="form-check-label" for="exampleRadios2">
                                            Inactive
                                        </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col">
                                        <label>Enter Discount</label>
                                        <input type="number" name="discount" th:value="${product.discount}"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3 col">
                                        <label>Discount Price</label>
                                        <input type="number" th:value="${product.discountPrice}" disabled
                                            class="form-control">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label>Stock</label>
                                        <input type="text" name="stock" th:value="${product.stock}"
                                            class="form-control">
                                    </div>
                                    <div class="mb-3 col">
                                        <label>Upload Image</label>
                                        <input type="file" name="file" class="form-control">
                                    </div>
                                    <div class="mt-1">
                                        <img th:src="@{'/img/product_img/'+${product.productImage}}" width="100px"
                                            height="100px">
                                    </div>

                                </div>
                                <div>
                                    <button class="btn btn-primary col-md-12"> Update </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>