<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<title>Index</title>
</head>
<body>
	<section>
        <div class="container p-5">
            <p class="text-center fs-3 mt-4">Admin Dashboard</p>
            <div class="row p-5">
                <div class="col-md-4 mt-4">
                    <a href="/admin/loadAddProduct" class="text-decoration-none">
                        <div class="card card-sh">
                            <div class="card-body text-center text-primary">
                                <i class="fa-solid fa-circle-plus fa-2x"></i>
                                <h4>Add Products</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 mt-4">
                    <a href="/admin/viewProduct" class="text-decoration-none">
                        <div class="card card-sh">
                            <div class="card-body text-center text-success">
                                <i class="fa-solid fa-list fa-2x"></i>
                                <h4>View Products</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 mt-4">
                    <a href="/admin/category" class="text-decoration-none">
                        <div class="card card-sh">
                            <div class="card-body text-center text-warning">
                                <i class="fa-solid fa-layer-group fa-2x"></i>
                                <h4>Add Category</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 mt-4">
                    <a href="/admin/orders" class="text-decoration-none">
                        <div class="card card-sh">
                            <div class="card-body text-center text-primary">
                                <i class="fa-solid fa-box fa-2x"></i>
                                <h4>Orders</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 mt-4">
                    <a href="/admin/users" class="text-decoration-none">
                        <div class="card card-sh">
                            <div class="card-body text-center text-success">
                                <i class="fa-solid fa-user fa-2x"></i>
                                <h4>Users</h4>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-4 mt-4">
                    <a href="/admin/addAdmin" class="text-decoration-none">
                        <div class="card card-sh">
                            <div class="card-body text-center text-warning">
                                <i class="fa-solid fa-person-circle-plus fa-2x"></i>
                                <h4>Add Admin</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
	</section>
</body>
</html>