<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<title>Users</title>
</head>
<body>
	<section>
        <div class="container-fluid mt-5 p-5">
          <div class="row">
            <div class="col-md-12 offset-md-0">
              <div class="card card-sh">
                <div class="card-header text-center">
                    <p class="fs-4">Available Users</p>
                </div>
    
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">S No</th>
                            <th scope="col">User Id</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile No</th>
                            <th scope="col">Address</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Pin Code</th>
                            <th scope="col">Role</th>
                            <th scope="col">Status</th>
                            <th scope="col">Profile Image</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="user,u:${users}">
                            <th scope="row">[[${u.count}]]</th>
                            <td>[[${user.id}]]</td>
                            <td>[[${user.fullName}]]</td>
                            <td>[[${user.email}]]</td>
                            <td>[[${user.mobileNumber}]]</td>
                            <td>[[${user.address}]]</td>
                            <td>[[${user.city}]]</td>
                            <td>[[${user.state}]]</td>
                            <td>[[${user.pincode}]]</td>
                            <td>[[${user.role}]]</td>
                            <td>[[${user.isEnabled}]]</td>
                            <td><img th:src="@{'/img/profile_img/'+${user.profileImage}}" width="50px" height="50px"></td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square fa-1x"></i>Edit</a>
                                <a href="#" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash fa-1x"></i>Delete</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            </div>
          </div>
        </div>
    </section>
</body>
</html>