<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
  <title>Users</title>
</head>

<body>
  <section>
    <div class="container-fluid mt-5 p-5">
      <div class="row">
        <div class="col-md-12 offset-md-0">
          <div class="card card-sh">
            <div class="card-header text-center">
              <p class="fs-4">Available Users</p>
              <th:block th:if="${session.successMsg}">
                <p class="text-success fw-bold">[[${session.successMsg}]]</p>
                <th:block th:text="${@helperServiceImpl.removeSessionMessage()}"></th:block>
              </th:block>

              <th:block th:if="${session.errorMsg}">
                <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                <th:block th:text="${@helperServiceImpl.removeSessionMessage()}"></th:block>
              </th:block>
            </div>

            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S No</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile No</th>
                    <th scope="col">Address</th>
                    <th scope="col">Status</th>
                    <th scope="col">Profile Image</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="user,u:${users}">
                    <th scope="row">[[${u.count}]]</th>
                    <td>[[${user.fullName}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.mobileNumber}]]</td>
                    <td>[[${user.address+','+user.city+','+user.state+','+user.pincode}]]</td>
                    <td>[[${user.isEnabled}]]</td>
                    <td><img th:src="@{'/img/profile_img/'+${user.profileImage}}" width="50px" height="50px"></td>
                    <td>
                      <a th:href="@{'/admin/updateStatus?status=active&id='+${user.id}}"
                        class="btn btn-primary btn-sm">Active</a>
                      <a th:href="@{'/admin/updateStatus?status=inactive&id='+${user.id}}"
                        class="btn btn-danger btn-sm">Inactive</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>