<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<title>Add Category</title>
</head>
<body>
	<section>
        <div class="container-fluid mt-5 p-5">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="card card-sh">
                <div class="card-header text-center">
                    <p class="fs-4">Cart</p>
                </div>
    
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">S No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="cart,c:${cartItems}">
                            <th scope="row">[[${c.count}]]</th>
                            <td><img th:src="@{'/img/product_img/'+${cart.product.productImage}}" width="50px" height="50px"></td>
                            <td>[[${cart.product.title}]]</td>
                            <td>[[${cart.quantity}]]</td>
                            <td>[[${cart.product.discountPrice}]]</td>
                            <td>[[${cart.totalPrice}]]</td>
                          </tr>
                          <tr>
                            <td colspan="4"></td>
                            <td class="fw-bold">Total Amount</td>
                            <td class="fw-bold">&#8377;[[${totalOrderAmount}]]</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            </div>
          </div>
        </div>
    </section>
</body>
</html>